*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}
body{
  width: auto;
  height:100vh;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}