*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
  }
  body{
    width: auto;
    height:100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: ceter;
    align-items: center;
  }
  #parentDiv{
    width:clamp(400px,50%,300px);
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: ceter;
    padding: 10px;
    padding-left: 90px;
  }
  #dateInput,#calBtn{
    height:20px;
    margin: 10px;
  }